@import '../options';

.practice {
	margin-top: -50px;
	padding-bottom: 50px;
	background-image: url('../images/practice-bg.png');
	background-repeat: no-repeat;
	background-size: 100% 80%;

	@media screen and (min-width: $w-tablet) {
		padding-bottom: 50px;
		background-size: 100% 90%;
	}

	&__title {
		max-width: 850px;
		margin: 0 auto;
		padding: 40px 0 30px;
		color: #fff;
		font-size: 19px;
		font-weight: 700;
		text-transform: uppercase;

		@media screen and (min-width: $w-tablet) {
			font-size: 42px;
			padding-top: 70px;
			padding-bottom: 60px;
		}
	}

	&__deals {
		margin: 0;
		padding: 20px 0;
	}
}